/* Global Variables */
:root {
    --main-background-color: hsl(175, 56%, 34%);
    --main-transition: 0.5s;
}

/* Global styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    scroll-behavior: smooth;
}

.img>img {
    max-width: 100%;
}

ul {
    list-style: none;
}

a:link {
    text-decoration: none;
}

h1,
p {
    margin: 0 !important;
}

button {
    outline: none;
    border: none;
    background: transparent;
    color: white;
}

/* whole page layout */
body {
    display: grid;
    grid-template-areas: "header header header"
        "nav nav nav"
        "main main main"
        "footer footer footer";
    gap: 60px;
    grid-template-rows: auto auto 1fr 150px;
}


/* Mobile-first design approach */

/* container */

/* on small screen sizes */
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 550px;
}

/* on small screen sizes */

/* on bigger screen sizes */

@media(min-width:786px) {
    .container {
        padding: 0 15px;
        width: 80%;
        max-width: 1800px;
    }
}

/* on bigger screen sizes */

/* container */

/* Logo styles */

header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
}

header>.img {
    width: 50%;
}

@media(min-width: 450px) {
    header>.img {
        width: 150px;
    }
}

@media(min-width: 991px) {
    header>.img {
        width: 200px;
    }
}

/* Logo styles */

/* nav styles */
nav {
    grid-area: nav;
    border-bottom: 2px solid var(--main-background-color);
    border-top: 2px solid var(--main-background-color);
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

@media(min-width: 768px) {
    nav ul {
        flex-direction: row;
        justify-content: space-around;
        margin: 0 auto;
        max-width: 754px;
    }
}

nav ul li {
    position: relative;
}

@media(min-width: 768px) {
    nav ul li+li::before {
        content: "";
        position: absolute;
        top: 0;
        left: -50px;
        width: 4px;
        height: 100%;
        background-color: var(--main-background-color);
    }
}

nav ul li a {
    padding: 10px;
    font-size: 1.5rem;
    color: var(--main-background-color);
    font-weight: 800;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

nav ul li a:hover {
    background-color: var(--main-background-color);
    color: white;
    font-size: 1.25rem;
}

/* landing styles */

main {
    grid-area: main;
}

main .landing::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.landing {
    background: url(/Assets/landing.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 1.5em 0;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

@media(min-width:768px) {
    .landing {
        min-height: 80vh;
    }
}

.promo,
.discount,
.limited,
.btn {
    position: relative;
    z-index: 3;

}

.promo {
    font-size: 2rem;
    max-width: 80%;
    line-height: 1.5;
}

@media(min-width:768px) {
    .promo {
        max-width: 1100px;
    }
}

.discount {
    font-size: 1.5rem;
    font-weight: 800;
    display: inline-block;
    background-color: var(--main-background-color);
    padding: .4rem;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.limited {
    max-width: 80%;
    padding: 0.5em;
    font-size: 1.25rem;
    font-weight: 800;
    color: white;
    background-color: var(--main-background-color);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

@media(min-width:991px) {
    .limited {
        font-size: 1.5rem;
    }
}

.btn {
    margin-top: 100px;
    cursor: pointer;
    background: white;
    color: var(--main-background-color);
    font-size: 2rem;
    font-weight: 600;
    padding: 0.25em 0.975em;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.btn:hover {
    background-color: var(--main-background-color);
    color: white;
    transform: scale(0.85);
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    -o-transform: scale(0.85);
}

/* landing styles */

/*store styles*/

main .store {
    grid-area: store;
    margin: 60px 0;
    text-align: center;
}

.section__title {
    max-width: 450px;
    font-size: 1.85em;
    font-weight: 600;
    color: white;
    background-color: var(--main-background-color);
    padding: 20px;
    margin: 60px auto;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.prods {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

@media(min-width:1200px) {
    .prods {
        flex-direction: row;
        justify-content: space-around;
    }
}

.prod__card {
    width: fit-content;
    max-width: 450px;
    background-color: var(--main-background-color);
    color: white;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.prod__card:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
    transform: translateY(-25px);
    -webkit-transform: translateY(-25px);
    -moz-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    -o-transform: translateY(-25px);
}

.prod__card .img {
    overflow: hidden;
}

.prod__card .img img {
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.prod__card:hover .img img {
    transform: scale(1.5) rotate(-15deg);
    -webkit-transform: scale(1.5) rotate(-15deg);
    -moz-transform: scale(1.5) rotate(-15deg);
    -ms-transform: scale(1.5) rotate(-15deg);
    -o-transform: scale(1.5) rotate(-15deg);
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.prod__card .title {
    padding: 0.375em 0;
    font-size: 1.975rem;
    font-weight: 800;
}

.prod__card .desc {
    font-size: 1.25rem;
    padding: 0.975em;
}

/*store styles*/

/* footer styles */
footer {
    grid-area: footer;
    color: white;
    background-color: var(--main-background-color);
}


footer .container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer>div:first-child img {
    width: 70px;
}

footer .container>div:first-child {
    flex-basis: 50%;
}

footer .container>div:last-child {
    font-size: 1.45rem;
    flex-basis: 50%;
}